.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  margin: 0;
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 300px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  width: 200px;
  height: 40px;
  margin-top: 15px;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  background: #1f5156;
  color: #fff;
}

button:hover {
  cursor: pointer;
  color: #ffdd40;
}

.listEmployees {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.list {
  width: 800px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
}

.list h3 {
  margin: 20px;
}

.Navbar {
  background-color: #021e39;
  width: 100%;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
